Repository pyrevitlabs/pyRevit, pull requests merged in 2023-04, with the labels that each got.

#1780 Removed usage error in load_data example
  pyrevitlib/pyrevit/script.py
Labels: Benign Bug

#1781 #1705
  pyrevitlib/pyrevit/forms/__init__.py
Labels: Bug, Prioritize, Engines

#1788 Tool 'remove empty elevation tags' moved to 'wipe' section
  extensions/pyRevitTools.extension/pyRevit.tab/Drawing Set.panel/views.stack/Views.pulldown/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Project.panel/Wipe.pulldown/Wipe Empty Tags.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Project.panel/Wipe.pulldown/Wipe Empty Tags.pushbutton/icon.png
  extensions/pyRevitTools.extension/pyRevit.tab/Project.panel/Wipe.pulldown/Wipe Empty Tags.pushbutton/script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Project.panel/Wipe.pulldown/bundle.yaml
Labels: Tools

#1789 fixed on-off button toggle
  extensions/pyRevitTools.extension/pyRevit.tab/Toggles.panel/toggles3.stack/Override 2D.smartbutton/script.py
Labels: Tools

#1800 added translation to Wipe Selected Families
  extensions/pyRevitTools.extension/pyRevit.tab/Project.panel/Wipe.pulldown/Wipe Selected Families.pushbutton/bundle.yaml
Labels: Tools, Localization

#1801 forms.show_balloon() first prototype [forms module]
  extensions/pyRevitDevTools.extension/pyRevitDev.tab/Debug.panel/Unit Tests.pulldown/Forms Module Tests.pushbutton/script.py
  pyrevitlib/pyrevit/forms/__init__.py
Labels: Enhancement, Prioritize, Tools

#1807 Pr/1805 added sorting to include exclude param from view template
  extensions/pyRevitTools.extension/pyRevit.tab/Drawing Set.panel/views.stack/Views.pulldown/Set View Template Controlled Parameters.pushbutton/script.py
Labels: Tools
