Repository pyrevitlabs/pyRevit, pull requests merged in 2023-08, with the labels that each got.

#1885 Implementation of Theme Changed Event (2024+)
  extensions/pyRevitDevHooks.extension/hooks/theme-changed.cs
  extensions/pyRevitDevHooks.extension/hooks/theme-changed.py
  extensions/pyRevitDevTools.extension/pyRevitDev.tab/Debug.panel/Engine Tests.pulldown/Test Persistent Engine.pushbutton/script.py
  extensions/pyRevitDevTools.extension/pyRevitDev.tab/Debug.panel/Unit Tests.pulldown/Test Modeless (Sensors).pushbutton/script.py
  pyrevitlib/pyrevit/revit/events.py
  pyrevitlib/pyrevit/runtime/EventHandling.cs
  pyrevitlib/pyrevit/runtime/EventHooks.cs
  pyrevitlib/pyrevit/runtime/EventTelemetry.cs
Labels: Enhancement, Runtime, Extension Hooks, 2024

#1894 Create dependabot.yml
  .github/dependabot.yml
Labels: Dependabot

#1905 SelectFromList class - allow different group sorting methods
  pyrevitlib/pyrevit/forms/__init__.py
Labels: Enhancement
