Repository pyrevitlabs/pyRevit, pull requests merged in 2024-11, with the labels that each got.

#2432 Fix #2429 - Update button compat with NETCORE
  pyrevitlib/pyrevit/coreutils/__init__.py
  pyrevitlib/pyrevit/versionmgr/updater.py
Labels: Bug, pyRevit 5

#2453 walltypes_naming_convention_check
  extensions/pyRevitTools.extension/checks/walltypes_list.json
  extensions/pyRevitTools.extension/checks/walltypes_naming_convention_check.py
Labels: Tools, Extension Checks

#2423 Create CADAUDIT_check.py
  extensions/pyRevitTools.extension/checks/cad_audit_check.py
Labels: Extension Checks

#2460 Added Pam Building Design+ extension
  extensions/extensions.json
Labels: Extensions

#2461 cycle family types
  extensions/pyRevitTools.extension/pyRevit.tab/Project.panel/ptools.stack/Cycle Family Types.pushbutton/script.py
Labels: Tools
