Repository pyrevitlabs/pyRevit, pull requests merged in 2024-04, with the labels that each got.

#2188 rpw resources engine update on dev4
  pyrevitlib/rpw/ui/forms/resources.py
Labels: Bug, rpw Bug, Engines, Highlight

#2209 Lines per view counter improvements
  extensions/pyRevitTools.extension/pyRevit.tab/Analysis.panel/Tools.stack/Inspect.pulldown/LinesPerViewCounter.pushbutton/LinesPerViewCounter_script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Analysis.panel/Tools.stack/Inspect.pulldown/LinesPerViewCounter.pushbutton/bundle.yaml
Labels: Enhancement, Tools

#2178 Feature/show view range
  extensions/pyRevitTools.extension/pyRevit.tab/Toggles.panel/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Toggles.panel/toggles3.stack/ViewRange.pushbutton/MainWindow.xaml
  extensions/pyRevitTools.extension/pyRevit.tab/Toggles.panel/toggles3.stack/ViewRange.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Toggles.panel/toggles3.stack/ViewRange.pushbutton/icon.dark.png
  extensions/pyRevitTools.extension/pyRevit.tab/Toggles.panel/toggles3.stack/ViewRange.pushbutton/icon.png
  extensions/pyRevitTools.extension/pyRevit.tab/Toggles.panel/toggles3.stack/ViewRange.pushbutton/script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Toggles.panel/toggles3.stack/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Toggles.panel/toggles3.stack/sync.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Toggles.panel/toggles3.stack/sync.pushbutton/config.py
  extensions/pyRevitTools.extension/pyRevit.tab/Toggles.panel/toggles3.stack/sync.pushbutton/icon.dark.png
  extensions/pyRevitTools.extension/pyRevit.tab/Toggles.panel/toggles3.stack/sync.pushbutton/icon.png
  extensions/pyRevitTools.extension/pyRevit.tab/Toggles.panel/toggles3.stack/sync.pushbutton/script.py
Labels: New Feature
