Repository pyrevitlabs/pyRevit, pull requests merged in 2024-08, with the labels that each got.

#2334 Fix the display of the cpy version in the about of pyRevit
  extensions/pyRevitCore.extension/pyRevit.tab/pyRevit.panel/About.pushbutton/aboutscript.py
Labels: Benign Bug, Python 3

#2349 Create grids_check.py
  extensions/pyRevitTools.extension/checks/grids_check.py
Labels: Enhancement, Tools

#2348 Create levels_check.py
  extensions/pyRevitTools.extension/checks/levels_check.py
Labels: Enhancement, Tools

#2355 Color splasher 'DataTable' issue : full_frame: true
  extensions/pyRevitTools.extension/pyRevit.tab/Analysis.panel/ColorSplasher.pushbutton/bundle.yaml
Labels: Tools, Engines

#2356 Update HyperlinkEngine.cs
  dev/pyRevitLabs.PyRevit.Runtime/HyperlinkEngine.cs
Labels: Runtime, pyRevit 5

#2370 Adjusted some german translations
  extensions/pyRevitCore.extension/pyRevit.tab/pyRevit.panel/links.stack/Icons8.urlbutton/bundle.yaml
  extensions/pyRevitCore.extension/pyRevit.tab/pyRevit.panel/links.stack/Report Bugs.pushbutton/bundle.yaml
  extensions/pyRevitCore.extension/pyRevit.tab/pyRevit.panel/tools.stack/Spy.pulldown/Open Journals Folder.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Analysis.panel/ColorSplasher.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Analysis.panel/Tools.stack/Inspect.pulldown/Find Monitored Revit Link.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Modify.panel/edit1.stack/Match.splitpushbutton/Match.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Modify.panel/edit3.stack/Groups.pulldown/Show Nested Group Structure.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/Pick.splitpushbutton/Pick Detail Elements.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/Pick.splitpushbutton/Pick Model Elements.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/Pick.splitpushbutton/Pick.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/mema.stack/MAppend.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/mema.stack/MRead.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/mema.stack/MWrite.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/memo.stack/Memory.pulldown/MClear.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/memo.stack/Memory.pulldown/MDeduct.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/memo.stack/Memory.pulldown/Next.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/memo.stack/Memory.pulldown/Prev.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/memo.stack/Memory.pulldown/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/select.stack/Select.pulldown/Find And Select Entities Without Dimensions.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/select.stack/Select.pulldown/Find And Select Entities Without Tags.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/select.stack/Select.pulldown/Select All Clouds Of Specific Revision.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/select.stack/Select.pulldown/Select All Clouds with Same Comment.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/select.stack/Select.pulldown/Select All Elements Of Same Family.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/select.stack/Select.pulldown/Select All Objects Of Selected Type.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/select.stack/Select.pulldown/Select All Text Notes.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/select.stack/Select.pulldown/Select All Vertical Reveals.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/select.stack/Select.pulldown/Select Group Elements.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/select.stack/Select.pulldown/Select Group and Subgroup Elements.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/select.stack/Select.pulldown/Select SubWalls.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Toggles.panel/toggles1.stack/Tab Coloring.smartbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Toggles.panel/toggles2.stack/Imported.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Toggles.panel/toggles2.stack/Sync Views.smartbutton/bundle.yaml
Labels: Tools, Highlight

#2363 fix net folder
  extensions/pyRevitCore.extension/pyRevit.tab/pyRevit.panel/tools.stack/Search.pushbutton/script.py
  extensions/pyRevitDevHooks.extension/hooks/app-init.py
  extensions/pyRevitDevHooks.extension/hooks/doc-saved-as.py
  extensions/pyRevitDevHooks.extension/hooks/doc-saving-as.py
  extensions/pyRevitDevHooks.extension/hooks/doc-updater.py
  extensions/pyRevitTools.extension/pyRevit.tab/Analysis.panel/ColorSplasher.pushbutton/script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Drawing Set.panel/Sheets.pulldown/Copy Views.pushbutton/script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Project.panel/Wipe.pulldown/Wipe Model Components.pushbutton/wipeactions.py
  extensions/pyRevitTutor.extension/pyRevitTutor.tab/Sessions.panel/Session 2.pushbutton/total volume_script.py
  extensions/pyRevitTutor.extension/pyRevitTutor.tab/Sessions.panel/Session 4.pushbutton/firsttransaction_script.py
  extensions/pyRevitTutor.extension/pyRevitTutor.tab/Sessions.panel/Session 5.pulldown/Better Collector.pushbutton/script.py
  extensions/pyRevitTutor.extension/pyRevitTutor.tab/Sessions.panel/Session 5.pulldown/Collector.pushbutton/script.py
  pyrevitlib/pyrevit/__init__.py
  pyrevitlib/pyrevit/compat.py
  pyrevitlib/pyrevit/coreutils/configparser.py
  pyrevitlib/pyrevit/framework.py
  pyrevitlib/pyrevit/loader/asmmaker.py
  pyrevitlib/pyrevit/runtime/__init__.py
Labels: Runtime, pyRevit 5

#2380 Obsolete IntegerValue property in Revit2024 and higher - Replaced by Value
  extensions/pyRevitCore.extension/pyRevit.tab/pyRevit.panel/tools.stack/Spy.pulldown/List Elements.pushbutton/script.py
  extensions/pyRevitDevTools.extension/pyRevitDev.tab/Debug.panel/Engine Tests.pulldown/Test CPython Command.pushbutton/script.py
  extensions/pyRevitDevTools.extension/pyRevitDev.tab/Debug.panel/Unit Tests.pulldown/Test Family API.pushbutton/script.py
  extensions/pyRevitDevTools.extension/pyRevitDev.tab/Developer Examples.panel/Inspect IExporter.pushbutton/script.py
  extensions/pyRevitDevTools.extension/startup.py
  extensions/pyRevitTags.extension/lib/pkgmgr.py
  extensions/pyRevitTools.extension/checks/modelchecker_check.py
  extensions/pyRevitTools.extension/pyRevit.tab/Analysis.panel/ColorSplasher.pushbutton/script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Analysis.panel/Tools.stack/Inspect.pulldown/Compare Detail Views.deprecate/diffutils.py
  extensions/pyRevitTools.extension/pyRevit.tab/Analysis.panel/Tools.stack/Inspect.pulldown/LinesPerViewCounter.pushbutton/LinesPerViewCounter_script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Drawing Set.panel/Print Sheets.pushbutton/script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Drawing Set.panel/Revision.pulldown/Find All Sheets Missing Revision Number.pushbutton/script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Drawing Set.panel/Revision.pulldown/Find All Sheets With Selected Revision.pushbutton/script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Drawing Set.panel/views.stack/Legends.pulldown/List Legends on Sheets.pushbutton/script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Drawing Set.panel/views.stack/Views.pulldown/Close Views.pushbutton/script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Drawing Set.panel/views.stack/Views.pulldown/Remove Underlay From Selected Views.pushbutton/script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Modify.panel/edit1.stack/Match.splitpushbutton/Match Properties.pushbutton/script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Modify.panel/edit1.stack/Overkill.pushbutton/script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Modify.panel/edit3.stack/Edit.pulldown/Convert Line Styles.pushbutton/script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Modify.panel/edit3.stack/Groups.pulldown/Explode And Remove Selected Groups.pushbutton/script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Project.panel/Wipe.pulldown/Wipe All Project Parameters.pushbutton/script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Project.panel/Wipe.pulldown/Wipe Model Components.pushbutton/wipeactions.py
  extensions/pyRevitTools.extension/pyRevit.tab/Project.panel/Wipe.pulldown/Wipe Unpurgable Viewport Types.pushbutton/script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Project.panel/Wipe.pulldown/Wipe Unused Filters.pushbutton/script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Project.panel/Wipe.pulldown/Wipe Unused View Templates.pushbutton/script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Project.panel/ptools.stack/Family.pulldown/Wipe Family Parameters.pushbutton/script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Project.panel/ptools.stack/Links.pulldown/Create Workset For Linked Element.pushbutton/script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/mema.stack/MAppend.pushbutton/script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/mema.stack/MWrite.pushbutton/script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/memo.stack/Memory.pulldown/MDeduct.pushbutton/script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/select.stack/Select.pulldown/Find And Select Entities Without Dimensions.pushbutton/script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/select.stack/Select.pulldown/Find And Select Entities Without Tags.pushbutton/script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/select.stack/Select.pulldown/Invert Selection.pushbutton/script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Toggles.panel/toggles3.stack/sync.pushbutton/script.py
  pyrevitlib/pyrevit/compat.py
  pyrevitlib/pyrevit/forms/__init__.py
  pyrevitlib/pyrevit/output/linkmaker.py
  pyrevitlib/pyrevit/revit/db/__init__.py
  pyrevitlib/pyrevit/revit/db/create.py
  pyrevitlib/pyrevit/revit/db/failure.py
  pyrevitlib/pyrevit/revit/db/pickling.py
  pyrevitlib/pyrevit/revit/db/query.py
  pyrevitlib/pyrevit/revit/db/update.py
  pyrevitlib/rpw/db/builtins.py
  pyrevitlib/rpw/db/family.py
  pyrevitlib/rpw/db/parameter.py
Labels: API Change
