Repository pyrevitlabs/pyRevit, pull requests merged in 2024-12, with the labels that each got.

#2474 Update walltypes_naming_convention_check.py
  extensions/pyRevitTools.extension/checks/walltypes_naming_convention_check.py
Labels: Bug

#2457 color splasher update
  extensions/pyRevitTools.extension/pyRevit.tab/Analysis.panel/ColorSplasher.pushbutton/script.py
Labels: Enhancement, Tools

#2494 fixes 2479 - color splasher
  extensions/pyRevitTools.extension/pyRevit.tab/Analysis.panel/ColorSplasher.pushbutton/script.py
Labels: Tools
