Repository pyrevitlabs/pyRevit, pull requests merged in 2025-08, with the labels that each got.

#2738 Feature 2248 - Toggle Grid Bubbles By Direction
  extensions/pyRevitTools.extension/pyRevit.tab/Drawing Set.panel/views.stack/Views.pulldown/Toggle Grid Bubbles by Direction.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Drawing Set.panel/views.stack/Views.pulldown/Toggle Grid Bubbles by Direction.pushbutton/icon.dark.png
  extensions/pyRevitTools.extension/pyRevit.tab/Drawing Set.panel/views.stack/Views.pulldown/Toggle Grid Bubbles by Direction.pushbutton/icon.png
  extensions/pyRevitTools.extension/pyRevit.tab/Drawing Set.panel/views.stack/Views.pulldown/Toggle Grid Bubbles by Direction.pushbutton/script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Drawing Set.panel/views.stack/Views.pulldown/Toggle Grid Bubbles by Direction.pushbutton/ui.xaml
  extensions/pyRevitTools.extension/pyRevit.tab/Drawing Set.panel/views.stack/Views.pulldown/bundle.yaml
Labels: Tools, New Feature

#2767 Update script.py
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/select.stack/Select.pulldown/Find And Select Entities Without Tags.pushbutton/script.py
Labels: Bug, Tools

#2776 change to use schedule only as fallback, default is workplane
  extensions/pyRevitTools.extension/pyRevit.tab/Selection.panel/Set Workset.pushbutton/script.py
Labels: Enhancement, Tools
