Repository pyrevitlabs/pyRevit, pull requests merged in 2025-01, with the labels that each got.

#2509 Convert lines closing event
  extensions/pyRevitTools.extension/pyRevit.tab/Modify.panel/edit3.stack/Edit.pulldown/Convert Line Styles.pushbutton/script.py
Labels: Tools

#2510 Update pyrevit-hosts.json
  bin/pyrevit-hosts.json
Labels: Command Line Utility (CLI)

#2511 Update dev-guide.md
  docs/dev-guide.md
Labels: Wiki

#2514 Color Splasher: Unwanted characters in filter name
  extensions/pyRevitTools.extension/pyRevit.tab/Analysis.panel/ColorSplasher.pushbutton/script.py
Labels: Tools

#2523 query module docstring review
  pyrevitlib/pyrevit/revit/db/query.py
Labels: Enhancement, Wiki

#2539 loading pyRevitLabs.json in PyrevitCLI manually if assembly is not found
  dev/pyRevitLabs/pyRevitCLI/PyRevitCLI.cs
Labels: Command Line Utility (CLI)

#2535 fix: incorrect handling of PYTHONPATH in SetupSearchPaths()
  dev/pyRevitLabs.PyRevit.Runtime/CPythonEngine.cs
Labels: python

#2545 New certificate from azure trusted signing
  .github/workflows/main.yml
Labels: CI/CD
