Repository pyrevitlabs/pyRevit, pull requests merged in 2025-03, with the labels that each got.

#2614 Added pyByggstyrning to the extensions.json
  extensions/extensions.json
Labels: Extensions

#2616 fix #2605
  extensions/pyRevitTools.extension/pyRevit.tab/Project.panel/ptools.stack/Links.pulldown/Create Workset For Linked Element.pushbutton/script.py
Labels: Bug

#2620 Dev/2606 Fix for orienting view to faces of objects that have transformations
  extensions/pyRevitTools.extension/pyRevit.tab/Modify.panel/3D.pulldown/Orient View To Face.pushbutton/bundle.yaml
  extensions/pyRevitTools.extension/pyRevit.tab/Modify.panel/3D.pulldown/Orient View To Face.pushbutton/script.py
Labels: Enhancement, Tools
